{% extends 'partials/_master.twig' %}

{% block main %}
<section class="section section-listing">
    <div class="container">
   
   

    
    
   
    <h2 class="title"><a href="{{ record|link }}">VENTA DE NEGOCIOS</a></h2>
    {% setcontent inmuebles = 'inmuebles' orderby 'precio'  %}

    {% for inmueble in inmuebles %}      
      
    {% if   inmueble.tiposervicio  == '88'  %}
           
     
        <article role="article" class="media columns">
            <div class="media-content column is-7">
                <div class="content">
                    

                        <h3><a href="{{ inmueble|link }}">{{ inmueble|title }}</a></h3>
                        
                        <p> <strong>ID:</strong> {{ inmueble.idinmueble }}</p>
                        <p> <strong>Descripción:</strong> {{ inmueble.titulo }}</p>
                        <p> <strong>Provincia:</strong> {{ inmueble.provincia }}</p>
                        <p> <strong>Cantón:</strong> {{ inmueble.canton }}</p>
                        <p> <strong>Precio:</strong> {{ inmueble.precio }} <strong>$</strong> </p>
                        
                        <p> <img align="bottom" src="/files/icons/m2Terreno.png" alt="" > <strong>m2 de terreno:</strong> {{ inmueble.m2terreno}}</p>

                        <p> <img align="bottom" src="/files/icons/m2Construccion.png" alt="" ><strong>m2 de construcción:</strong> {{ inmueble.m2construccion }}</p>

                        <p> <img align="bottom" src="/files/icons/dormitorio.png" alt="" ><strong>Número de dormitorios:</strong> {{ inmueble.numdormitorios }}</p>

                        <p> <img align="bottom" src="/files/icons/bano.png" alt="" ><strong>Número de baños:</strong> {{ inmueble.numbanos }}</p>

                        <p> <img align="bottom" src="/files/icons/garaje.png" alt="I" ><strong>Plazas de garaje:</strong> {{ inmueble.plazasgaraje }}</p>

                        <p> <strong>Descripción:</strong><a href="{{ inmueble|link }}">....VER TODA LA INFORMACIÓN ...</a>  </p>
                        <p> <strong>Agente asignado:</strong> {{ inmueble.agenteasignado}} </p>
                        <p><strong>Contacto:</strong> {{inmueble.tlfagenteasignado}}  </p>

                    </div>
                </div>


                 <div class="media-right column  " >
                    <div class="swiper-container-inmueble swiper3" >
                        
                        <div class="swiper-wrapper ">
                            {% for image in inmueble.imagenes %}           
             
                            <div class="swiper-slide" style="background-image:url({{image.path}}) ; " >                                           

                            </div>
                            {% endfor %}

                            
    
                         </div>
  
  
                          <!-- If we need pagination -->
                          <div class="swiper-pagination"></div>
                          <!-- If we need navigation buttons -->
                          <div class="swiper-button-prev"></div>
                          <div class="swiper-button-next"></div>
  
  
                    

                    <script>
                            var swiper3 = new Swiper ('.swiper-container-inmueble', 
                    { 
                        slidesPerView: 1,
                        spaceBetween: 10,
                        speed:1000,      
                        direction: 'horizontal',
                        calculateHeight:true,

                        navigation:

                        {
                          nextEl: '.swiper-button-next',
                          prevEl: '.swiper-button-prev',
                        },
                        pagination: 
                        {
                            el: '.swiper-pagination',
                            dynamicBullets: true,
                        },
                        
                        keyboard: 
                        {
                            enabled: false,
                            onlyInViewport: false,
                        },
                        mousewheel: 
                        {
                            invert: false,
                        },
                    autoplay: 
                    {
                      delay: 3000,
                    },
                    loop: true,
                    }); 
                 </script>                
                 
                </div>

                <section>   
                    <div class="buttons has-addons is-rigth" style="position:relative;bottom: 0px;">
                                    <a class="button is-primary" href="{{ inmueble|link }}">Ver Inmueble </a>
                    </div>
                </section>

            </div>
       </article>               
                 
        
        {% endif %}


    
    {% endfor %}

 
 </div>   
</section>
{% endblock main %}
